@import "../css/variables.module";

.drawboard {
  .FixedContainer {
    position: absolute;
    pointer-events: none;
  }

  .FixedContainer > * {
    pointer-events: all;
  }

  .FixedContainer_side_top {
    left: 50vh;
    right: 50vh;
    top: var(--editor-container-padding);
    bottom: var(--editor-container-padding);
    z-index: 2;
  }
}
